<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!-- 連結 FullCalendar 的 JavaScript 文件 -->
    <script src="C:/Users/a0968/OneDrive/桌面/0611-2/wwwroot/js/index.global.min.js"></script>
    <!-- 轉換成中文 -->
    <script src="C:/Users/a0968/OneDrive/桌面/0611-2/wwwroot/js/locales-all.global.js"></script>
    <!-- 連結 CSS 文件 -->
    <link rel="stylesheet" href="C:/Users/a0968/OneDrive/桌面/0611-2/wwwroot/css/style.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'zh-tw',
                navLinks: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {
                        title: '練習css',
                        start: '2024-06-11',
                        end: '2024-06-15'
                    },
                    {
                        title: '看影片',
                        start: '2024-06-01T13:00:00',
                        end: '2024-06-02T13:00:00'
                    },
                    {
                        title: '練習JavaScript',
                        start: '2024-06-21T13:00:00',
                        allDay: false
                    }
                ]
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <div class="container">
        <div id='calendar'></div>
    </div>
</body>
</html>
